@using SNHU_Capstone_Project.Models.Entities
@model User

@{
    Layout = null;
}

<form asp-action="ChangeUserPassword">
    <div class="modal-body" id="EditUser">
        <div class="form-group row g-2 align-items-center">
            <div class="col-4">
                <label class="col-form-label" asp-for="Password">Password<a style="color: red;">*</a></label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="password" asp-for="Password" onkeyup="validatePassword('UpdateUserButton')" />
            </div>
        </div>

        <div class="form-group row g-2 align-items-center">
            <div class="col-4">
                <label class="col-form-label" for="ConfirmPassword">Verify Pass<a style="color: red;">*</a></label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="password" id="ConfirmPassword" onkeyup="validatePassword('UpdateUserButton')" />
            </div>
        </div>

        <div class="form-group">
            <ul id="passwordValidationList" hidden>
                <li id="minLength"></li>
                <li id="maxLength"></li>
                <li id="uppercase"></li>
                <li id="symbol"></li>
                <li id="pwdMatch"></li>
            </ul>
        </div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearDiv('EditUser')">Close</button>
        <button type="submit" class="btn btn-primary" id="UpdateUserButton" dissabled>Update</button>
    </div>
</form>
