@{
    ViewData["Title"] = "Unauthorized";
}

<div>
    <h1>Unauthorized Access</h1>
    You do not have access to the page or resource that was attempted to be accessed. If you believe that you should have access to this resource, please reach out to your Administrator.
</div>
